button.btn-action{
    padding: 6px 14px;
    font-size: .8rem;
}

button.btn-edit{
    background: #5c087e;
}

button.btn-edit:hover{
    background: #3a0250;
}

.formListTask{
    display: flex;
    margin-bottom: 16px;
}

.formListTask input{
    width: 300px;
    padding: 0;
    padding-left: 12px;
    font-size: 14px;
    background: #d9e3f1;
}

.formListTask button{
    padding: 8px 36px;
    margin-left: 18px;
    font-size: .8rem;
}

table tr td{
    padding: 15px;
}

.table-task{
    width: 680px;
    background: white;
    border-radius: 12px;
    box-shadow: 3px 4px 5px 0px #b5b5b5;
}